#!/bin/sh

GIT_REPO=$(git remote get-url origin)
GITEA_URL=$(echo "$GIT_REPO" | sed -e 's/^[^/]*\/\///' -e 's/:.*//' | sed -e 's/\/.*//')
GITEA_HOST_IP=$(grep "$GITEA_URL" /etc/hosts | awk '{print $1}')
PROJECT_NAME=$(echo "$GIT_REPO" | sed -e 's/.*\///' -e 's/\.git//')
K3D_HOST_IP=$(hostname -I | awk '{print $1}')

export GITEA_URL GITEA_HOST_IP PROJECT_NAME K3D_HOST_IP

use flake
