# Ignore everything and selectively allow files
/*

# Allow project files
!.gitignore
!.gitkeep
!README.rst
!LICENSE
!justfile

# Allow Nix files
!.envrc
!flake.nix
!flake.lock

# Allow python files
!*.py
!requirements.txt

# Allow docker files
!Dockerfile
!.dockerignore
